In [1]:
import pandas as pd
df=pd.read_csv("shared/flights.csv")
df

,Unnamed: 0,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2838196,2015,6,27,6,AA,1651,N3DUAA,ORD,SEA,...,2301.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2209206,2015,5,20,3,WN,343,N500WR,TPA,MDW,...,2037.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,3855931,2015,8,27,4,B6,1282,N249JB,RIC,BOS,...,2059.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3739289,2015,8,20,4,AA,637,N924US,CLT,LAS,...,1821.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1142222,2015,3,16,1,HA,114,N483HA,HNL,OGG,...,647.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499995,3674366,2015,8,16,7,AA,477,N520UW,PHX,IAH,...,2343.0,12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1499996,552497,2015,2,6,5,AA,1003,N483AA,PSP,DFW,...,1647.0,17.0,0,0,NaN,17.0,0.0,0.0,0.0,0.0
1499997,5772042,2015,12,28,1,AA,1024,N581AA,DFW,IAH,...,2231.0,49.0,0,0,NaN,0.0,0.0,9.0,40.0,0.0
1499998,4009097,2015,9,6,7,WN,3337,N7720F,BUR,SJC,...,1904.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1499999,4014394,2015,9,7,1,WN,6269,N784SW,CMH,LAS,...,943.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
null_counts = df.isnull().sum()
column_with_most_nulls = null_counts.idxmax()
most_null_count = null_counts.max()
column_with_most_nulls

'CANCELLATION_REASON'

In [5]:
# Remove rows with any missing values
df_no_missing = df.dropna()
# Get the count of complete rows
complete_rows_count = len(df_no_missing)
complete_rows_count

0

In [9]:
# Define the conditions
condition1 = (df['AIRLINE'] == 'AA') & (df['ORIGIN_AIRPORT'] == 'JFK')
condition2 = (df['AIRLINE'] == 'VX')
# Use the conditions to filter the DataFrame
filtered_flights = df[condition1 | condition2]
# Count the number of rows in the filtered DataFrame
num_rows = len(filtered_flights)
num_rows

19853

In [10]:
# Specify the number of quantiles (quintiles = 5)
num_quantiles = 5
# Use qcut to bin the data into quintiles
quintiles = pd.qcut(df['ARRIVAL_DELAY'], q=num_quantiles)
# Find the unique quintile labels
unique_labels = quintiles.cat.categories
# The third interval (quintile) is at index 2
third_interval = unique_labels[2]
third_interval

Interval(-8.0, -1.0, closed='right')

In [12]:
df_airports = pd.read_csv('shared/airports.csv')
# Perform a left join between flights and airports on ORIGIN_AIRPORT
merged_data = pd.merge(df, df_airports, left_on='ORIGIN_AIRPORT', right_on='IATA_CODE', how='left')
# Count the null values in the AIRPORT column from the 'right' table
invalid_airport_count = merged_data['AIRPORT'].isnull().sum()
invalid_airport_count

125799

In [13]:
# Create a DataFrame of boolean values indicating missing values
missing_values = df.isnull()
# Count the number of missing values in each row (axis=1)
missing_values_count_per_row = missing_values.sum(axis=1)
# Find the maximum count of missing values in any row
max_missing_values_count = missing_values_count_per_row.max()
max_missing_values_count

16